<div class="container-fluid">
  <section id="intro">
    <div class="curtain">
      <section class="banner">
      <h1>What's hAPPening?!?!</h1>
      <h2>Get Event Listings around Me</h2>
      </section>
      <ul class="row">
        <li class="col-md-2"><span class="pic one"></span></li>
        <li class="col-md-2"><span class="pic two"></span></li>
        <li class="col-md-2"><span class="pic three"></span></li>
        <li class="col-md-2"><span class="pic four"></span></li>
        <li class="col-md-2"><span class="pic five"></span></li>
        <li class="col-md-2"><span class="pic six"></span></li>
      </ul>
    </div>
  	
  </section>
  
  <section id="eventsMap">
  <h1>What's hAPPening?!?!</h1>
    <div class="row">
      <main class="col-md-12 map-container">
        <div id="map-canvas" style="width: 100%x; height: 600px;">
          <!-- <div class="vertical-align">
            <i class="fa fa-spinner fa-spin fa-5x"></i>
          </div> -->
        </div>
      </main><!--map-container -->
      <aside>
        <h3 id="status"></h3>
        
        <div class="error-message"></div>
      </aside>
    </div>
  </section>
</div><!--container fluid -->
